.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.image__container > img {
  margin-top: 40px;
  max-width: 900px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.orders > h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.continue {
  margin-top: 20px;
  padding: 4px;
  border-radius: 2px;
  background-color: var(--color-primary);
}

.order__text__container {
  max-width: 600px;
  margin-top: 10px;
}

.order__text {
  text-align: justify;
}

@media (max-width: 560px) {
  .orders {
    margin-top: 25%;
  }
  .image__container > img {
    margin-top: 20px;
    max-width: 90vw;
    margin-bottom: 20px;
  }

  .orders > h3 {
    font-weight: 500;
    font-size: 1rem;
  }

  .order__id {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
  }

  .order__text__container {
    max-width: 320px;
    margin-top: 10px;
  }

  .order__text {
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
  }
}
