.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 200px;
  max-width: fit-content;
}

.checkoutProduct__image {
  border-radius: 10px;
  max-width: 100px;
  max-height: 200px;
  margin-right: 30px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: var(--color-primary);
  border-radius: 3px;
  width: 100px;
  height: 25px;
  border: 1px solid;
  margin-top: 10px;
  border-color: rgb(66, 180, 246);
  color: var(--color-bg);
}
.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__author {
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 560px) {
  .checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 3px;
    max-height: 100px;
    max-width: 150px;
    margin-right: 10px;
  }

  .checkoutProduct__image {
    border-radius: 10px;
    max-width: 40px;
    max-height: 70px;
    margin-right: 5px;
  }

  .checkoutProduct__info {
    padding-left: 3px;
  }

  .only__info
 {
  max-height: 70px;
 }

  .checkoutProduct__info > button {
    border-radius: 3px;
    max-width: 60%;
    height: 25px;
    border: 1px solid;
    margin-top: 3px;
    transform: scale(0.7);
  }

  .checkoutProduct__title {
    font-size: 12px;
    font-weight: 700;
  }

  .rs {
    font-size: 12px;
  }

  .checkoutProduct__author {
    font-size: 9px;
    font-weight: 300;
  }
}
