.checkout {
  /* overflow-x: hidden; */
  display: flex;

  flex-direction: column;
  padding: 20px;
  background-color: var(--color-white);
  height: max-content;
}

.checkout__container {
  display: flex;
}

.checkout__left {
  max-width: 70%;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 560px) {
  .checkout {
    overflow-x: hidden;
  }

  .checkout__container {
    display: flex;
    flex-direction: column;
  }

  .checkout__left {
    max-width: 100%;
  }

  .checkout__title {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
  }

  .checkout__items-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .checkout {
    overflow-x: hidden;
  }
  .checkout__items-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
