.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: azure;
  border: 1px solid var(--color-bg-variant);
  border-radius: 5px;
  margin-left: 18px;
}

.subtotal > p {
  margin-top: -6px;
}

.subtotal__two {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
  background-color: azure;
  border: 1px solid var(--color-bg-variant);
  border-radius: 5px;
  margin-left: 18px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: var(--color-primary);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 6px;
  border-color: rgb(66, 180, 246);
  color: var(--color-bg);
}
