.home__container {
  /* margin-top: -60px; */

  width: 100%;
  /* z-index: -1; */
}

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  /* max-width: 1500px; */
}

.home__aboutStar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  position: relative;
  top: 0;
}

.home__aboutStar__sell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  position: relative;
  top: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background: var(--color-primary-variant);
  background: linear-gradient(var(--color-primary-variant), white);
}

.home__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-left: 5px;
  margin-right: 25px;
}

.home__image {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 0 0 10px 10px;
  mask-image: linear-gradient(to bottom, var(--color-primary), white);
}

.home__aboutStar > small {
  font-size: 12px;
}


.home__aboutStar__sell > small {
  font-size: 14px;
}

.category__name {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 6px;
}

@media (max-width: 560px) {
  .home__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-left: 2px;
    margin-right: 12px;
  }

  .home__aboutStar {
    height: 12px;
    margin-bottom: -4px;
  }
}
