.product {
  display: flex;
  flex-direction: column;

  /* background-color: var(--color-primary-variant); */
  background-color: var(--color-white);

  /* z-index: 1; */
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  border-radius: 10px;
  transition: var(--transition);
}

.product:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}

.product > img {
  transition: var(--transition);

  border-radius: 10px;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  object-fit: contain;
  /* margin-bottom: 15px; */
}

.product > img:hover {
  transform: scale(1.1);
}

.product__info .author__name {
  font-size: 14px;
}

.product__info > p {
  font-size: 18px;
}

.product__price {
  margin-top: 5px;
}

.product > button {
  border-radius: 2px;
  background: var(--color-primary);
  border: 1px solid;
  margin-top: 20px;
  border-color: var(--color-bg);
  color: black;
  /* z-index: 1000; */
}

.product__info {
  overflow-y: hidden;
}

.product__rating {
  display: flex;
}

@media (max-width: 560px) {
  .product {
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-height: 300px;
    min-width: 100px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.1);
  }

  .product__info {
    height: 56px;
    margin-top: -6px;
  }

  .product__info > p {
    font-size: 12px;
  }

  .product__rating {
    transform: scale(0.5);
    margin-top: -5px;
  }

  .product > button {
    transform: scale(0.6);
    margin-top: 5px;
    margin-bottom: -6px;
  }

  .product > img {
    max-height: 100px;
    max-width: 100px;
    width: 100%;
    object-fit: contain;

    /* margin-bottom: 15px; */
  }

  .product > img:hover {
    transform: scale(1);
  }

  .product__rating {
    margin-top: -10px;
  }

  .product__info .author__name {
    font-size: 9px;
  }
}
