.product {
  display: flex;
  flex-direction: column;

  background-color: var(--color-primary-variant);
  /* z-index: 1; */
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  border-radius: 10px;
}

.product > img {
  border-radius: 10px;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  /* margin-bottom: 15px; */
}

.product__price {
  margin-top: 5px;
}

.product > button {
  border-radius: 6px;
  background: var(--color-primary);
  border: 1px solid;
  margin-top: 20px;
  border-color: var(--color-bg);
  color: black;
  /* z-index: 1000; */
}

.product__info {
  height: 80px;
}

.product__rating {
  display: flex;
}
