.header {
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: var(--color-primary); */
  backdrop-filter: blur(15px);

  position: sticky;
  top: 0;
  z-index: 100;
  /* margin-bottom: -60px; */
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 6px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 24px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 10px;
}

.header__searchIcon {
  margin-left: 20px;
  margin-right: 10px;
  padding: 0px;
  height: 24px !important;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__option__signed {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
  color: var(--color-bg);
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  color: var(--color-bg);
}

.avatar_image {
  border-radius: 15px;
  max-width: 30px;
}

.user__name {
  margin-top: 3px;
  font-size: medium;
  margin-right: 5px;
  color: var(--color-bg);
}

.header__optionbasket {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
