/* Footer.css */

footer {
  background-color: var(--color-bg-variant);
  background: linear-gradient(
    30deg,
    var(--color-white),
    var(--color-primary),
    var(--color-bg-variant),
    var(--color-white)
  );

  color: var(--color-bg-variant);
  padding: 20px 0;
  margin-top: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > p {
  font-size: 12px;
}
.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-left: 10px;
}

.social-links li a {
  color: black;
  font-size: 24px;
}

@media (max-width: 560px) {
  .container {
    max-width: 480px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .social-links li a {
    color: black;
    font-size: 16px;
  }

  .container > p {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}
