.login {
  background-color: var(--color-primary-variant);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: -55px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 300px;
  align-items: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}



.login__container > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: var(--color-white);
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: var(--color-primary);
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: var(--color-bg);
  margin-bottom: 20px;
}

.login__registerButton {
  background: var(--color-primary);
  border-radius: 4px;
  width: 75%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: var(--color-bg);
  margin-bottom: 40px;
}

.google__icon {
  margin-bottom: -10px;
}

.login__registerButton-google {
  background: var(--color-primary);
  border-radius: 4px;
  width: 75%;
  min-height: 50px;
  border: 1px solid;
  margin-top: 10px;
  border-color: var(--color-bg);
  margin-bottom: 20px;
}

